# Python
__pycache__/
*.pyc
*.pyo

# Env
.env

# GitHub
GITHUB_TOKEN=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

GITHUB_USERNAME=Shrulex

# OpenAI
OPENAI_API_KEY=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

USER_SECRET=mysecret123

OPENAI_BASE_URL=https://aipipe.org/openai/v1

.venv
.test_github.py

venv/
